.active {
	transform: translateY(0);
	opacity: 1;
	@apply bg-base-100; // возвращаем оригинальный стиль через tailwind

	.item {
		opacity: 1 !important;
		animation: fadeIn 0.3s ease-in forwards;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
