.carousel {
	position: relative;
	width: 100%;

	:global {
		.swiper,
		.swiper-wrapper {
			height: var(--mobile-height);
			@media (min-width: 768px) {
				height: var(--desktop-height);
			}
		}

		.swiper-button-next,
		.swiper-button-prev {
			@apply fixed z-[999];
			width: var(--arrows-size-mobile);
			height: var(--arrows-size-mobile);
			@media (min-width: 768px) {
				width: var(--arrows-size-desktop);
				height: var(--arrows-size-desktop);
			}
			@apply border;
			@apply rounded-3xl;
			@apply hover:bg-primary-content;
			@apply transition-colors;
		}

		.swiper-button-next:after,
		.swiper-button-prev:after {
			font-size: var(--arrows-icon-size-mobile);
			@media (min-width: 768px) {
				font-size: var(--arrows-icon-size-desktop);
			}
			@apply text-base-content;
		}

		.swiper-button-next:hover:after,
		.swiper-button-prev:hover:after {
			@apply text-neutral-content;
		}

		.swiper-pagination-bullets.swiper-pagination-horizontal {
			bottom: 13px;
		}

		.swiper-pagination-bullet {
			@apply bg-primary-content/80;
		}

		.swiper-pagination-bullet-active {
			@apply bg-primary;
		}
	}

	&.withSideNav {
		margin: 0 auto;
		width: var(--mobile-width);
		@media (min-width: 768px) {
			width: var(--desktop-width);
		}
		position: relative;
		overflow: visible;

		:global {
			.swiper {
				overflow: visible;
				@media (max-width: 767px) {
					padding: 0 40px;
					margin-bottom: 60px;
				}
			}

			.swiper-button-next,
			.swiper-button-prev {
				position: absolute;
				top: 50%;

				// Базовые стили для мобильной версии
				@media (max-width: 767px) {
					width: 28px;
					height: 28px;

					&:after {
						font-size: 10px;
					}
				}

				@media (min-width: 768px) {
					top: 50%;
				}
			}

			.swiper-button-prev {
				@media (max-width: 767px) {
					left: 0;
				}
				@media (min-width: 768px) {
					left: -70px;
				}
			}

			.swiper-button-next {
				@media (max-width: 767px) {
					right: 0;
				}
				@media (min-width: 768px) {
					right: -70px;
				}
			}
		}
	}

	&.withBottomNav {
		position: relative;
		overflow: visible;

		:global {
			.swiper {
				margin-bottom: var(--bottom-margin-mobile);
				@media (min-width: 768px) {
					margin-bottom: var(--bottom-margin-desktop);
				}
				overflow: visible;
			}

			.swiper-button-next,
			.swiper-button-prev {
				position: absolute;
				bottom: calc(var(--arrows-offset-mobile) * -1);
				@media (min-width: 768px) {
					bottom: calc(var(--arrows-offset-desktop) * -1);
				}
				top: auto;

				@media (max-width: 767px) {
					width: 28px;
					height: 28px;

					&:after {
						font-size: 10px;
					}
				}
			}

			.swiper-button-prev {
				left: 0;
			}

			.swiper-button-next {
				right: 0;
			}
		}
	}

	&.paginationInside {
		:global {
			.swiper-pagination-bullets.swiper-pagination-horizontal {
				bottom: var(--pagination-offset-mobile);
				@media (min-width: 768px) {
					bottom: var(--pagination-offset-desktop);
				}
			}
		}
	}

	&.paginationOutside {
		:global {
			.swiper {
				padding-bottom: var(--pagination-offset-mobile);
				@media (min-width: 768px) {
					padding-bottom: var(--pagination-offset-desktop);
					margin-bottom: calc(
						var(--pagination-offset-desktop) + 20px
					) !important;
				}
				margin-bottom: calc(var(--pagination-offset-mobile) + 20px) !important;
			}

			.swiper-pagination-bullets.swiper-pagination-horizontal {
				bottom: 0;
				bottom: calc(var(--pagination-offset-mobile) * -1) !important;
				@media (min-width: 768px) {
					bottom: calc(var(--pagination-offset-desktop) * -1) !important;
				}
			}
		}
	}
}
